@keyframes load{
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

div{
  opacity: 100%;
  animation-name: load;
  animation-duration: 1.25s;
}

.animate {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.text-center {
  text-align: center;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
a {
  color: #38abab;
}
a:hover,
a:focus {
  color: #00755d;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.text-primary {
  color: #00A885;
}
input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

button {
  cursor: pointer;
  background: #38abab;
  width: 45%;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.validate {
  width: 75%;
  margin: auto;
  text-align: left;
  display: block;
  padding: 0px;
  color: rgb(255, 0, 0);
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: tooltipanimation 0.3s 1;
  animation: tooltipanimation 0.3s 1;
}
.input-group {
  position: relative;
  margin-bottom: 50px;
  align-items: center;
}
.input-group label{
  position: absolute;
  top: 9px;
  left: 65px;
  font-size: 16px;
  color: #000000;
  font-weight: normal;
  padding: 2px 5px;
  z-index: 5;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.input-group input {
  outline: none;
  display: block;
  margin: auto;
  width: 75%;
  height: 40px;
  position:relative;
  z-index: 2;
  border-style:solid;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 10px 10px;
  /* background: #ffffff; */
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  animation-name: load;
  animation-duration: 1.25s;
}

/* .input-group input:focus{
  background: #00A885;
  width: 0;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
} */

/* .input-group.focused .lighting {
  width: 50%;
} */


/* .input-group input,
.input-group label{
  -webkit-transition: all .2s;
	transition: all .2s;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
} */

.input-group input:not(:placeholder-shown) + label,
.input-group input:focus + label{
  background: #fff;
  font-size: 12px;
  top: -8px;
  left: 65px;
  color: #38abab;
  cursor: text;
}

.input-group input::placeholder{
  color: transparent;
}


/* .input-group{
  background: #fff;
  font-size: 12px;
  top: -8px;
  left: 65px;
  color: #38abab;
  cursor: text;
} */
.input-group span.validate-tooltip {
  margin-top: 0;
}
.wrapper {
  width: 750px;
  /* position:relative; */
  float: inherit;
  /* background: #fff; */
  margin: 150px auto;
  font-family: 'Open Sans', sans-serif;
  /* border: 1px solid #f3f3f3; */
}
.wrapper .inner-warpper {
  padding: 50px 100px 60px;
  box-shadow: 0px 10px 13px -10px #000000, 0px 12px 15px 5px rgba(0,0,0,0);
}
.wrapper .title {
  margin-top: 0;
}
.wrapper .supporter {
  margin-top: 10px;
  font-size: 14px;
  /* color: #8E8E8E; */
  cursor: pointer;
}

.wrapper .signup-wrapper {
  padding: 20px 0px;
  font-size: 14px;
}
.wrapper .signup-wrapper a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.wrapper .signup-wrapper a:hover {
  text-decoration: underline;
}
/* @-webkit-keyframes tooltipanimation {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes tooltipanimation {
  from {
    margin-top: -28px;
  }
  to {
    margin-top: 0;
  }
} */
@media (max-width: 480px) {
  .direction {
    position: static;
  }
}

.text-left{
  position: relative;
  margin-bottom: 50px;
  text-align: left;
  left: 12%;
}

.radio-button {
  cursor: pointer;
  padding-right: 30px;
}
input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input {
    font-size: 1rem;
    line-height: 1.5;
    padding: 15px 23px;
    border: 1px solid rgba(0, 0, 0, 20);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.radio-button__input {
    opacity: 0;
    position: absolute;
}

.radio-button__control {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: inherit;
    color: #38abab;
    border: 2px solid #38abab;
    border-radius: 24px;
}

.radio-button__input:checked+.radio-button__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #38abab;
    border-radius: 12px;
}

.radio-button__input:checked+.radio-button__control {
    border-color: #38abab;
}

.radio-button__control {
  transform: scale(0.75);
}

.login{
  margin: 0px 20px;
}

label,
footer {
    font-family: sans-serif;
}

label {
    font-size: 1rem;
    padding-right: 10px;
    margin-bottom: 20px;
}

select {
  display: block;
  width: 75%;
  border-radius: 5px;
  border:solid black 1.75px;
  font-size: 17px;
  padding: 5px 8px;
}