body{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flexbox;
    background-color: #000105;
}

nav{
    top: 0;text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(30, 27, 27);
}

nav a{
    font-family: Prompt;
    font-weight: bold;
    color: rgb(234, 233, 241);
    text-decoration: none;
    font-size: 25px;
    margin: 50px;
    justify-content: space-around;
}

.navbar{
    /* background-color: rgb(6, 4, 29); */
    /* background-color: aqua; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(180deg, #010618 45%, rgba(1, 6, 25, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
    /* background-image: linear-gradient(to bottom, rgb(6, 4, 29) 0%, rgba(6, 4, 29, 0) 100%); */
}

#header{
    position: relative;
}

.header{
    width: 100%;
}

.content{
    display: grid;
    place-items: center;
    grid-gap: 50px;
}

.container{
    padding: 20px;
    width: 1500px;
    height: max-content;
    border-radius: 25px;
    display: flex;
    background-color: rgb(32, 32, 45);
}
.container-img{
    margin-top: 15px;
    height: 350px;
}

.btn-arr{
    display: flex;
    gap: 15px;
    margin-left: 6px;
}

.btn{
    position: relative;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 233, 241);
    font-family: Prompt;
    font-weight: bold;
    width: 100px;
    height: 45px;
    cursor: pointer;
}

.textbox{
    color: rgb(234, 233, 241);
    font-family: Prompt;
}

.textbox-head{
    position: relative;
    width: 1000px;
    padding-top: 5%;
    text-align: center;
    left: 25%;
    color: rgb(234, 233, 241);
    font-family: Prompt;
    font-size: 35px;
}

.textbox-tittle{
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 50px;
}

.textbox-content{
    margin: 15px;
    font-size: 22px;
}

.textbox-content-extras{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 16px;
}

.container-image{
    border-radius: 5px;
    max-height: 95%;
}

.footer{
    bottom: 0;
    display: flexbox;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 17, 23);
}

.icon{
    margin: 10px;
}

.socials{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: rgb(234, 233, 241);
}

.footer-text{
    text-align: center;
    font-family: Prompt;
    font-size: 20px;
    color: rgb(234, 233, 241);
}

#i{
    padding-top: 5px;
    color: rgb(234, 233, 241);
    font-size: 35px;
    width: 50px;
    height: 50px;
}

@font-face {
    font-family: Prompt;
    src: url(/Font/Prompt/Prompt-Light.ttf);
}
