*, *::before, *::after {
    margin: 0;
    padding: 0;
  }

body, html{
    height: 100%;
    margin: 0;
}

.logo{
  position: absolute;
  opacity: 100%;
  margin-bottom: 10px;
  height: 30%;
  width: 30%;
  animation-name: dropdown;
  animation-duration: 500ms;
  transform-origin: top;
  /* margin-bottom: 10px;
  margin-left: 5px; */
}

.container {
    position: relative;
    text-align: center;
  }

.center{
    position: absolute;
    padding: 60px 0px;
    margin: 0px 200px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    /* white-space: nowrap; */
    opacity: 100%;
    animation: opacity 1000ms;
}

.centerimage{
  padding: 30px;
}

.text{
  top: 60%;
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  opacity: 100%;
  animation: opacity 1500ms;
}

.texttitle{
  font-size: 25px;
  padding: 20px 0px;
  text-align: left;
  font-weight: bold;
  opacity: 100%;
  animation: opacity 1500ms;
}

.texttitle-content{
  font-size: 20px;
  padding: 0px 0px 20px;
  text-align: left;
  opacity: 100%;
  animation: opacity 1500ms;
}

.bgimg{
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url("home.jpg");
    height: 100%;
    filter: brightness(50%);
}


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    box-shadow: 0px 10px 13px -13px #000000, 0px 10px 13px -15px rgba(0,0,0,0);
  }
  
  /* Links inside the navbar */
  .navbar a {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    display: flexbox;
    text-decoration: none;
    color: #000000;
    padding: 25px 0px;
    margin: 0px 30px;
    float: right;
    position: relative;
    opacity: 0.75;
    
  }

  .navbarcontent{
    border: none;
    padding: 0px 20px;
    animation-name: dropdown;
    animation-duration: 500ms;
    transform-origin: top;
  }
  
  /* The dropdown container */
  .dropdown {
    float: right;
    overflow: hidden;
    margin: 0px 30px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    color: black;
    padding: 25px 0px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  

  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    height: fit-content;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation-name: dropdown;
    animation-duration: 500ms;
    transform-origin: top;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 15px 15px;
    margin: 0px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    color: #38abab;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #38abab;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

.content{
    text-align: center;
    color: #f9f9f9;
}

.button{
  background-color: #38abab;
  border: none;
  color: white;
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 60px 2px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 100%;
  animation: opacity 1500ms;
}

.button:hover{
  transition: 300ms;
  filter: brightness(75%);
}

.loginbutton{
  background-color: #38abab;
  border: none;
  float: right;
  color: white;
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  margin: 17px 20px;
  border-radius: 25px;
  cursor: pointer;
}

.loginbutton:hover{
  transition: 300ms;
  filter: brightness(75%);
}


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  box-shadow: 10px 10px 13px 5px #000000, 10px 10px 13px 10px rgba(0,0,0,0);
  animation: footer;
  animation-duration: 1000ms;
  /* animation-direction: alternate; */

}

.footercontent{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: center;
}

.fa {
  padding: 20px 3px;
  font-size: 30px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-twitter {
  color: rgb(28, 28, 48);
}

.fa-instagram {
  color: rgb(28, 28, 48);
}

.fa-facebook {
  color: rgb(28, 28, 48);
}

@keyframes opacity{
  0% {opacity: 0%;}
  100% {opacity: 100%;}
}

@keyframes dropdown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}

@keyframes footer {
  0% {
      height: 0%;
  }
  100% {
      height: 10%;
  }
}